@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}
<b-card-text>
    <div>
        <p>
            Welcome to the David-tools center!
        </p>
        <p>
            Have you ever get lost in enormous bookmarks? The Volt-tools aimed to shares useful tools that you might need in your development. The Volt-tools also collects some fascinating tools for entertainment.
        </p>
        <p>
            The Volt-tools is <a ref="no FOLLOW" href="https://github.com/dotnet/aspnetcore">asp.net core</a> backed application. The front-end build on the <a ref="nofollow" href="https://bootstrap-vue.org/">Boostap-Vue</a> framework.  You can folk it on GitHub, give a star if you feel good.
        </p>
    </div>
</b-card-text>
