@model VoltTools.Models.Views.PageView

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Model.title;
}
<div id="page">
    <b-container>
        <b-card-body>
            @Html.Raw(Model.contents)
        </b-card-body>
    </b-container>
</div>
<script>
    new Vue({
        el: "#page",
        data: {

        }
    });
</script>