@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Penetration";
}
<b-card-text>
    <p>Here collected some cracked, open, and free online penetration tools. And if you are interested in one of them, you can set up the same one by step through the simple and efficient guide.</p>

    <p>Don't use this project to do any illegal things. It only allows use for the study. Any Responsibilities arising from the use of this project have nothing to do with the author.</p>

    <div>
        <h2>Acunetix 13</h2>
        <br/>
        <div>
            website: <a href="https://acunetix.vigourwu.xyz:3443/">https://acunetix.vigourwu.xyz:3443/</a>
            <br />
            user name: admin@example.com
            <br />
            password: Abcd1234
        </div>
    </div>
</b-card-text>
